/**
 * Colors
 */
/**
 * Colors: General
 */
/**
 * Colors: Project Tiles
 */
/**
 * Colors: Social Slide
 */
/**
 * Base Styles
 */
/* line 44, ../sass/styles.scss */
html {
  font-size: 1rem;
  position: relative;
}

/* line 49, ../sass/styles.scss */
body {
  background: #ddd;
  color: #17343e;
}

/* line 54, ../sass/styles.scss */
a {
  color: #e3ad96;
}
/* line 56, ../sass/styles.scss */
a:hover, a:focus {
  color: #a77d6f;
}

/* line 62, ../sass/styles.scss */
ul {
  list-style-type: none;
  margin-bottom: 0;
}
/* line 65, ../sass/styles.scss */
ul li {
  height: 100%;
}
/* line 67, ../sass/styles.scss */
ul li a {
  height: 100%;
  vertical-align: middle;
}

/* line 74, ../sass/styles.scss */
.inline-list li,
.inline-item {
  display: inline-block;
}

/**
 * Navbar
 */
/* line 82, ../sass/styles.scss */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #17343e;
}
/* line 86, ../sass/styles.scss */
.navbar .navbar-brand {
  color: #e3ad96;
  margin-bottom: 0;
  font-size: 1.5rem;
}
/* line 91, ../sass/styles.scss */
.navbar .navbar-toggler {
  border-color: rgba(227, 173, 150, 0.25);
}
/* line 93, ../sass/styles.scss */
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227,173,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* line 95, ../sass/styles.scss */
.navbar .navbar-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167,125,111, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* line 101, ../sass/styles.scss */
.navbar .navbar-collapse .nav-link {
  cursor: pointer;
  color: #e3ad96 !important;
  text-transform: uppercase;
}
/* line 105, ../sass/styles.scss */
.navbar .navbar-collapse .nav-link:hover, .navbar .navbar-collapse .nav-link:focus {
  color: #a77d6f !important;
}

/**
 * Landing Slide
 */
/* line 116, ../sass/styles.scss */
.homepage-slide {
  height: 100vh;
  background: url("../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 123, ../sass/styles.scss */
.homepage-slide h2 {
  color: #e3ad96;
  padding-top: 25vh;
  font-size: 12vw;
  line-height: .75;
  font-weight: 600;
}

/**
 * Projects Slide
 */
/* line 135, ../sass/styles.scss */
.projects-slide {
  border-top: 5px solid #17343e;
  border-bottom: 5px solid #17343e;
}
/* line 138, ../sass/styles.scss */
.projects-slide .project {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #e3c6b9;
  border: 5px solid #17343e;
}
/* line 146, ../sass/styles.scss */
.projects-slide .project a .project-icon img {
  width: 80%;
}
/* line 150, ../sass/styles.scss */
.projects-slide .project a .project-body {
  padding-top: 10px;
}
/* line 152, ../sass/styles.scss */
.projects-slide .project a .project-body h3 {
  margin-bottom: 0;
  color: #17343e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: .025rem;
}
/* line 160, ../sass/styles.scss */
.projects-slide .project a .project-body p {
  font-style: italic;
  color: #68757e;
}
/* line 167, ../sass/styles.scss */
.projects-slide .project:hover, .projects-slide .project.disabled {
  background: #a77d6f;
}
/* line 171, ../sass/styles.scss */
.projects-slide .project:hover .project-body h3, .projects-slide .project.disabled .project-body h3 {
  color: #ddd;
}
/* line 174, ../sass/styles.scss */
.projects-slide .project:hover .project-body p, .projects-slide .project.disabled .project-body p {
  font-style: italic;
  color: #e3c6b9;
}

/**
 * About Slide
 */
/* line 187, ../sass/styles.scss */
.about-slide {
  display: none;
}
/* line 189, ../sass/styles.scss */
.about-slide .profile-image-wrapper {
  padding-top: 20px;
}
/* line 191, ../sass/styles.scss */
.about-slide .profile-image-wrapper .profile-image {
  width: 112px;
  height: 112px;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  background: #ddd;
  overflow: hidden;
}
/* line 201, ../sass/styles.scss */
.about-slide .profile-image-wrapper .profile-image img {
  width: 112px;
}
/* line 206, ../sass/styles.scss */
.about-slide .profile {
  padding: 25px 15px;
}

/**
 * Contact Slide
 */
/* line 214, ../sass/styles.scss */
.contact-slide {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #244855;
  color: #e3ad96;
}
/* line 220, ../sass/styles.scss */
.contact-slide h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}
/* line 225, ../sass/styles.scss */
.contact-slide p {
  color: #e3c6b9;
}
/* line 228, ../sass/styles.scss */
.contact-slide .social-icons {
  padding-top: 15px;
}
/* line 230, ../sass/styles.scss */
.contact-slide .social-icons .fa {
  font-size: 3rem;
  padding: 1.5rem;
}

/**
 * Footer
 */
/* line 240, ../sass/styles.scss */
footer {
  padding: 10px 0;
  background: #17343e;
  color: #68757e;
  font-size: .75rem;
  text-align: center;
}
/* line 246, ../sass/styles.scss */
footer p {
  margin: 0;
}

/**
 * Modal Windows
 */
/* line 254, ../sass/styles.scss */
.modal .modal-content {
  background: #e3c6b9;
}
/* line 256, ../sass/styles.scss */
.modal .modal-content .tag {
  text-align: center;
  font-style: italic;
  font-size: .75rem;
  padding: 3px;
  margin: .25rem .5rem;
  background: #e8bdaa;
  color: #244855;
}
/* line 265, ../sass/styles.scss */
.modal .modal-content .project-image img {
  width: 100%;
}
/* line 268, ../sass/styles.scss */
.modal .modal-content .project-description {
  margin-bottom: 1rem;
}

/**
 * Responsive Breakpoints
 */
@media (min-width: 768px) {
  /* line 286, ../sass/styles.scss */
  .navbar {
    background: none;
  }
  /* line 288, ../sass/styles.scss */
  .navbar .navbar-collapse {
    max-width: 55vw;
  }
  /* line 290, ../sass/styles.scss */
  .navbar .navbar-collapse .nav-link {
    padding: 0 5vw;
  }

  /* line 295, ../sass/styles.scss */
  footer {
    text-align: left;
  }
  /* line 297, ../sass/styles.scss */
  footer .credit {
    text-align: right;
  }
}
@media (min-width: 992px) {
  /* line 305, ../sass/styles.scss */
  .navbar .navbar-collapse {
    max-width: 47vw;
  }
}
@media (min-width: 1600px) {
  /* line 312, ../sass/styles.scss */
  .navbar .navbar-collapse {
    max-width: 40vw;
  }
}
