/**
 * Colors
 */
/**
 * Base Styles
 */
/* line 13, ../sass/styles.scss */
html {
  font-family: 'Lato', sans-serif;
  position: relative;
}

/* line 18, ../sass/styles.scss */
body {
  background: #f5f1ed;
  color: #333333;
}

/* line 23, ../sass/styles.scss */
h3 {
  font-size: 1.5rem;
}

/* line 27, ../sass/styles.scss */
h3, h4 {
  text-transform: uppercase;
  font-weight: 700;
}

/* line 32, ../sass/styles.scss */
a {
  color: #333333;
}
/* line 34, ../sass/styles.scss */
a:hover, a:focus {
  color: #819ca0;
  text-decoration: none;
}

/* line 41, ../sass/styles.scss */
ul {
  list-style-type: none;
  margin-bottom: 0;
}
/* line 44, ../sass/styles.scss */
ul li {
  height: 100%;
}
/* line 46, ../sass/styles.scss */
ul li a {
  height: 100%;
  vertical-align: middle;
}

/* line 53, ../sass/styles.scss */
.inline-list li,
.inline-item {
  display: inline-block;
}

/* line 58, ../sass/styles.scss */
.light-brown {
  background: #f5f1ed;
}

/* line 61, ../sass/styles.scss */
.medium-brown {
  background: #dad2bc;
}

/* line 65, ../sass/styles.scss */
.dark-brown {
  background: #a99985;
}

/* line 69, ../sass/styles.scss */
.green {
  background: #819ca0;
}

/* line 73, ../sass/styles.scss */
.text-light-brown {
  color: #f5f1ed;
}

/* line 77, ../sass/styles.scss */
.text-medium-brown {
  color: #dad2bc;
}

/* line 81, ../sass/styles.scss */
.text-dark-brown {
  color: #a99985;
}

/* line 85, ../sass/styles.scss */
.text-green {
  color: #819ca0;
}

/* line 89, ../sass/styles.scss */
.text-grey {
  color: #333333;
}

/* line 94, ../sass/styles.scss */
.social-icons li {
  margin-right: 5px;
}
/* line 96, ../sass/styles.scss */
.social-icons li a {
  display: block;
  width: 25px;
  height: 25px;
  background: no-repeat center center;
  background-size: 25px 25px;
}

/* line 106, ../sass/styles.scss */
.btn-green {
  color: #f5f1ed;
  background: #819ca0;
  border: #a99985;
  margin: .25rem 0;
}
/* line 111, ../sass/styles.scss */
.btn-green.disabled {
  color: #dad2bc;
  background: #0f1313;
  border: #a99985;
}
/* line 116, ../sass/styles.scss */
.btn-green:hover, .btn-green:focus {
  background: #50676b;
  color: #dad2bc;
}

/* line 122, ../sass/styles.scss */
.hidden {
  display: none;
}

/**
 * Navbar
 */
/* line 129, ../sass/styles.scss */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 50px;
  background: #f5f1ed;
}
/* line 137, ../sass/styles.scss */
.navbar .navbar-toggler-icon {
  background: url("../images/menu.png") no-repeat center center;
  background-size: 25px 25px;
}
/* line 140, ../sass/styles.scss */
.navbar .navbar-toggler-icon:hover {
  background-image: url("../images/menu-green.png");
}
/* line 144, ../sass/styles.scss */
.navbar #mainNav {
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;
}
/* line 149, ../sass/styles.scss */
.navbar .social-icons {
  position: absolute;
  right: 0;
  margin-top: 7px;
}
/* line 154, ../sass/styles.scss */
.navbar .social-icons li.linkedin a {
  background-image: url("../images/linkedin.png");
}
/* line 156, ../sass/styles.scss */
.navbar .social-icons li.linkedin a:hover {
  background-image: url("../images/linkedin-green.png");
}
/* line 160, ../sass/styles.scss */
.navbar .social-icons li.github a {
  background-image: url("../images/github.png");
}
/* line 162, ../sass/styles.scss */
.navbar .social-icons li.github a:hover {
  background-image: url("../images/github-green.png");
}

/**
 * Slides
 */
/* line 173, ../sass/styles.scss */
.homepage-slide {
  height: 100vh;
  background: url("../images/tesla.jpg") no-repeat center center;
  -webkit-background-size: fill;
  -moz-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
  padding-top: 55px;
}
/* line 181, ../sass/styles.scss */
.homepage-slide h1.intro {
  font-weight: 300;
  font-size: 1.5rem;
}
/* line 184, ../sass/styles.scss */
.homepage-slide h1.intro span {
  font-weight: 700;
}
/* line 188, ../sass/styles.scss */
.homepage-slide h2.tesla {
  font-weight: 300;
  margin-top: 2rem;
  font-size: 1.5rem;
}
/* line 194, ../sass/styles.scss */
.homepage-slide #arrow {
  display: none;
}

/* line 199, ../sass/styles.scss */
.services-background {
  min-height: 3px;
}

/* line 204, ../sass/styles.scss */
.services-slide .service {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 207, ../sass/styles.scss */
.services-slide .service .service-icon {
  display: inline-block;
  width: 95px;
  height: 95px;
  text-align: center;
  padding-top: 8px;
  margin: 0 auto;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  background: #f5f1ed;
}
/* line 218, ../sass/styles.scss */
.services-slide .service .service-icon img {
  width: 80px;
  height: 80px;
  display: block;
}
/* line 224, ../sass/styles.scss */
.services-slide .service .service-body {
  display: inline-block;
  width: 70%;
  padding-left: 15px;
}

/* line 232, ../sass/styles.scss */
.projects-slide {
  border-top: 3px solid #819ca0;
  border-bottom: 3px solid #333333;
}
/* line 235, ../sass/styles.scss */
.projects-slide .project {
  height: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/* line 240, ../sass/styles.scss */
.projects-slide .project a:focus {
  outline: none;
}
/* line 243, ../sass/styles.scss */
.projects-slide .project .project-icon {
  text-align: center;
  padding-top: 8px;
  height: 70%;
}
/* line 247, ../sass/styles.scss */
.projects-slide .project .project-icon img {
  height: 100%;
  margin: 0 auto;
}
/* line 252, ../sass/styles.scss */
.projects-slide .project .project-body {
  padding-top: 10px;
}
/* line 254, ../sass/styles.scss */
.projects-slide .project .project-body h4 {
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}
/* line 260, ../sass/styles.scss */
.projects-slide .project .project-body .tag {
  font-size: 13px;
  font-style: italic;
}

/* line 270, ../sass/styles.scss */
.about-slide .profile-image-wrapper {
  padding-top: 20px;
}
/* line 272, ../sass/styles.scss */
.about-slide .profile-image-wrapper .profile-image {
  width: 112px;
  height: 112px;
  text-align: center;
  margin: 0 auto;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  background: #f5f1ed;
  overflow: hidden;
}
/* line 282, ../sass/styles.scss */
.about-slide .profile-image-wrapper .profile-image img {
  width: 112px;
}
/* line 287, ../sass/styles.scss */
.about-slide .profile {
  padding: 25px 15px;
}

/* line 292, ../sass/styles.scss */
.contact-slide {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
/* line 296, ../sass/styles.scss */
.contact-slide h2 {
  font-size: 1.5rem;
}

/* line 301, ../sass/styles.scss */
footer {
  padding: 10px 0;
  height: 50px;
}
/* line 304, ../sass/styles.scss */
footer .copyright {
  padding-top: 5px;
  font-size: 13px;
}
/* line 308, ../sass/styles.scss */
footer .social-icons {
  float: right;
}
/* line 311, ../sass/styles.scss */
footer .social-icons li.linkedin a {
  background-image: url("../images/linkedin-light.png");
}
/* line 313, ../sass/styles.scss */
footer .social-icons li.linkedin a:hover {
  background-image: url("../images/linkedin.png");
}
/* line 317, ../sass/styles.scss */
footer .social-icons li.github a {
  background-image: url("../images/github-light.png");
}
/* line 319, ../sass/styles.scss */
footer .social-icons li.github a:hover {
  background-image: url("../images/github.png");
}

/**
 * Modal Windows
 */
/* line 330, ../sass/styles.scss */
.modal .modal-content {
  background: #f5f1ed;
}
/* line 332, ../sass/styles.scss */
.modal .modal-content .tag {
  text-align: center;
  font-style: italic;
  font-size: .75rem;
  padding: 3px;
  margin: .25rem .5rem;
  background: #e3ddcc;
  color: #819ca0;
}
/* line 341, ../sass/styles.scss */
.modal .modal-content .project-image img {
  width: 100%;
}
/* line 344, ../sass/styles.scss */
.modal .modal-content .project-description {
  margin-bottom: 1rem;
}

/**
 * Responsive Breakpoints
 */
@media (min-width: 768px) {
  /* line 363, ../sass/styles.scss */
  .navbar #mainNav {
    margin-top: 5px;
    text-align: left;
  }
  /* line 366, ../sass/styles.scss */
  .navbar #mainNav li {
    padding: 0 15px;
  }

  /* line 372, ../sass/styles.scss */
  .homepage-slide .homepage-content {
    padding-top: 15vh;
  }
  /* line 374, ../sass/styles.scss */
  .homepage-slide .homepage-content h1.intro {
    font-size: 2rem;
  }
  /* line 377, ../sass/styles.scss */
  .homepage-slide .homepage-content h2.tesla {
    text-align: right;
    margin-top: 4rem;
    font-size: 2rem;
  }
  /* line 382, ../sass/styles.scss */
  .homepage-slide .homepage-content #arrow {
    display: block;
    fill: #819ca0;
    fill-opacity: 0;
    width: 70%;
  }

  /* line 390, ../sass/styles.scss */
  .services-background {
    height: 50px;
  }

  /* line 395, ../sass/styles.scss */
  .services-slide .service .service-icon {
    display: block;
    margin-top: -56px;
  }
  /* line 398, ../sass/styles.scss */
  .services-slide .service .service-icon img {
    display: inline-block;
  }
  /* line 402, ../sass/styles.scss */
  .services-slide .service .service-body {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  /* line 413, ../sass/styles.scss */
  .projects-slide .project .project-icon {
    height: auto;
  }
  /* line 415, ../sass/styles.scss */
  .projects-slide .project .project-icon img {
    height: auto;
    width: 60%;
    margin: 0 auto;
  }

  /* line 424, ../sass/styles.scss */
  .about-slide .profile-image-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  /* line 427, ../sass/styles.scss */
  .about-slide .profile-image-wrapper .profile-image {
    width: 250px;
    height: 250px;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
  }
  /* line 433, ../sass/styles.scss */
  .about-slide .profile-image-wrapper .profile-image img {
    width: 250px;
  }
  /* line 438, ../sass/styles.scss */
  .about-slide .profile {
    padding: 45px 15px;
  }

  /* line 442, ../sass/styles.scss */
  .modal-dialog {
    max-width: 700px;
  }
}
@keyframes animate-path {
  89% {
    fill-opacity: 0;
  }
  90% {
    fill-opacity: .25;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
/* line 15, ../sass/_animations.scss */
#arrow #arrow-path {
  stroke: #819ca0;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
  animation: animate-path 3s linear forwards;
}
