/**
 * Colors
 */
$grey: #333333;
$green: #819ca0;
$light-brown: #f5f1ed;
$medium-brown: #dad2bc;
$dark-brown: #a99985;

/**
 * Base Styles
 */
html {
	font-family: 'Lato', sans-serif;
	position: relative;
}

body {
	background: $light-brown;
	color: $grey;
}

h3 {
	font-size: 1.5rem;
}

h3, h4 {
	text-transform: uppercase;
	font-weight: 700;
}

a {
	color: $grey;
	&:hover,
	&:focus {
		color: $green;
		text-decoration: none;
	}
}

ul {
	list-style-type:none;
	margin-bottom: 0;
	li {
		height: 100%;
		a {
			height: 100%;
			vertical-align: middle;
		}
	}
}

.inline-list li,
.inline-item {
	display: inline-block;
}

.light-brown {
	background: $light-brown;
}
.medium-brown {
	background: $medium-brown;
}

.dark-brown {
	background: $dark-brown;
}

.green {
	background: $green;
}

.text-light-brown {
	color: $light-brown;
}

.text-medium-brown {
	color: $medium-brown;
}

.text-dark-brown {
	color: $dark-brown;
}

.text-green {
	color: $green;
}

.text-grey {
	color: $grey;
}

.social-icons {
	li {
		margin-right: 5px;
		a {
			display: block;
			width: 25px;
			height: 25px;
			background: no-repeat center center;
			background-size: 25px 25px;
		}
	}
}

.btn-green {
	color: $light-brown;
	background: $green;
	border: $dark-brown;
	margin: .25rem 0;
	&.disabled {
		color: $medium-brown;
		background: darken($green, 50%);
		border: $dark-brown;
	}
	&:hover, &:focus {
		background: darken($green, 20%);
		color: $medium-brown;
	}
}

.hidden {
	display: none;
}

/**
 * Navbar
 */
.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	z-index: 100;
	width: 100%;
	min-height: 50px;
	background:$light-brown;
	.navbar-toggler-icon {
		background: url("../images/menu.png") no-repeat center center;
		background-size: 25px 25px;
		&:hover {
			background-image: url("../images/menu-green.png");
		}
	}
	#mainNav {
		margin-top: 45px;
		text-align: center;
		text-transform: uppercase;
	}
	.social-icons {
		position: absolute;
		right:0;
		margin-top: 7px;
		li {
			&.linkedin a {
				background-image: url("../images/linkedin.png");
				&:hover {
					background-image: url("../images/linkedin-green.png");
				}
			}
			&.github a {
				background-image: url("../images/github.png");
				&:hover {
					background-image: url("../images/github-green.png");
				}
			}
		}
	}
}

/**
 * Slides
 */
.homepage-slide {
	height: 100vh;
	background: url('../images/tesla.jpg') no-repeat center center; 
	-webkit-background-size: fill;
	-moz-background-size: fill;
	-o-background-size: fill;
	background-size: fill;
	padding-top: 55px;
	h1.intro {
		font-weight: 300;
		font-size: 1.5rem;
		span {
			font-weight: 700;
		}
	}
	h2.tesla {
		font-weight: 300;
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	#arrow {
		display: none;
	}
}

.services-background {
	min-height: 3px;
}

.services-slide {
	.service {
		padding-top: 10px;
		padding-bottom: 10px;
		.service-icon {
			display: inline-block;
			width: 95px;
			height: 95px;
			text-align: center;
			padding-top: 8px;
			margin: 0 auto;
			-moz-border-radius: 56px;
			-webkit-border-radius: 56px;
			border-radius: 56px;
			background: $light-brown;
			img {
				width: 80px;
				height: 80px;
				display: block;
			}
		}
		.service-body {
			display: inline-block;
			width: 70%;
			padding-left: 15px;
		}
	}
}

.projects-slide {
	border-top: 3px solid $green;
	border-bottom: 3px solid $grey;
	.project {
		height: 220px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		a:focus {
			outline: none;
		}
		.project-icon {
			text-align: center;
			padding-top: 8px;
			height: 70%;
			img {
				height: 100%;
				margin: 0 auto;
			}
		}
		.project-body {
			padding-top: 10px;
			h4 {
				letter-spacing: 2px;
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 0;
			}
			.tag {
				font-size: 13px;
				font-style: italic;
			}

		}
	}
}

.about-slide {
	.profile-image-wrapper {
		padding-top: 20px;
		.profile-image {
			width: 112px;
			height: 112px;
			text-align: center;
			margin: 0 auto;
			-moz-border-radius: 56px;
			-webkit-border-radius: 56px;
			border-radius: 56px;
			background: $light-brown;
			overflow: hidden;
			img {
				width:112px;
			}
		}
	}
	.profile {
		padding: 25px 15px;
	}
}

.contact-slide {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	h2 {
		font-size: 1.5rem;
	}
}

footer {
	padding: 10px 0;
	height: 50px;
	.copyright {
		padding-top: 5px;
		font-size: 13px;
	}
	.social-icons {
		float: right;
		li {
			&.linkedin a {
				background-image: url("../images/linkedin-light.png");
				&:hover {
					background-image: url("../images/linkedin.png");
				}
			}
			&.github a {
				background-image: url("../images/github-light.png");
				&:hover {
					background-image: url("../images/github.png");
				}
			}
		}
	}
}

/**
 * Modal Windows
 */
.modal .modal-content {
	background: $light-brown;
	.tag {
		text-align: center;
		font-style: italic;
		font-size: .75rem;
		padding: 3px;
		margin: .25rem .5rem;
		background: lighten($medium-brown, 5%);
		color: $green;
	}
	.project-image img {
		width: 100%;
	}
	.project-description {
		margin-bottom: 1rem;
	}
}

/**
 * Responsive Breakpoints
 */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.navbar {
		#mainNav {
			margin-top: 5px;
			text-align: left;
			li {
				padding: 0 15px;
			}
		}
	}
	.homepage-slide {
		.homepage-content {
			padding-top: 15vh;
			h1.intro {
				font-size: 2rem;
			}
			h2.tesla {
				text-align: right;
				margin-top: 4rem;
				font-size: 2rem;
			}
			#arrow {
				display: block;
				fill: $green;
				fill-opacity: 0;
				width: 70%;
			}
		}
	}
	.services-background {
		height: 50px;
	}
	.services-slide {
		.service {
			.service-icon {
				display: block;
				margin-top: -56px;
				img {
					display: inline-block;
				}
			}
			.service-body {
				width: 100%;
				display: block;
				text-align: center;
				padding: 0;
				margin: 0;
			}
		}
	}
	.projects-slide {
		.project {
			.project-icon {
				height: auto;
				img {
					height: auto;
					width: 60%;
					margin: 0 auto;
				}
			}
		}
	}
	.about-slide {
		.profile-image-wrapper {
			padding-top: 35px;
			padding-bottom: 35px;
			.profile-image {
				width: 250px;
				height: 250px;
				-moz-border-radius: 125px;
				-webkit-border-radius: 125px;
				border-radius: 125px;
				img {
					width:250px;
				}
			}
		}
		.profile {
			padding: 45px 15px;
		}
	}
	.modal-dialog {
		max-width:700px;
	}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@import 'animations';