/**
 * Colors
 */
$grey-light: #ddd;

$peach-dark: #a77d6f;
$peach: #e3ad96;
$peach-light: #e3c6b9;
$green-dark: #17343e;
$green: #244855;
$green-light: #68757e;

/**
 * Colors: General
 */
$background: $grey-light;
$text: $green-dark;
$text-secondary: $green-light;
$landing-text: $peach;
$nav-background: $green-dark;
$nav-text: $peach;
$nav-text-hover: $peach-dark;

/**
 * Colors: Project Tiles
 */
$tile-bg: $peach-light;
$tile-border: $green-dark;
$tile-hover: $peach-dark;
$tile-hover-text: $grey-light;
$tile-hover-secondary: $peach-light;

/**
 * Colors: Social Slide
 */
$background-social: $green;
$social-text: $peach;
$social-p: $peach-light;


/**
 * Base Styles
 */
html {
	font-size: 1rem;
	position: relative;
}

body {
	background: $background;
	color: $text;
}

a {
	color: $nav-text;
	&:hover,
	&:focus {
		color: $nav-text-hover;
	}
}

ul {
	list-style-type:none;
	margin-bottom: 0;
	li {
		height: 100%;
		a {
			height: 100%;
			vertical-align: middle;
		}
	}
}

.inline-list li,
.inline-item {
	display: inline-block;
}

/**
 * Navbar
 */
.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	background: $nav-background;
	.navbar-brand {
		color: $landing-text;
		margin-bottom: 0;
		font-size: 1.5rem;
	}
	.navbar-toggler {
		border-color: rgba(227,173,150, .25);
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(227,173,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			&:hover {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167,125,111, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}	
	}
	.navbar-collapse {
		.nav-link {
			cursor: pointer;
			color: $nav-text !important;
			text-transform: uppercase;
			&:hover,
			&:focus {
				color: $nav-text-hover !important;
			}
		}
	}
}

/**
 * Landing Slide
 */
.homepage-slide {
	height: 100vh;
	background: url('../images/background.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h2 {
		color: $landing-text;
		padding-top: 25vh;
		font-size: 12vw;
		line-height: .75;
		font-weight: 600;
	}
}

/**
 * Projects Slide
 */
.projects-slide {
	border-top: 5px solid $tile-border;
	border-bottom: 5px solid $tile-border;
	.project {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		background: $tile-bg;
		border: 5px solid $tile-border;
		a {
			.project-icon {
				img {
					width: 80%;
				}
			}
			.project-body {
				padding-top: 10px;
				h3 {
					margin-bottom: 0;
					color: $text;
					text-transform: uppercase;
					font-weight: 600;
					font-size:	1.2rem;
					letter-spacing: .025rem;
				}
				p {
					font-style: italic;
					color: $text-secondary;
				}

			}
		}
		&:hover,
		&.disabled {
			background: $tile-hover;
			.project-body {
				h3 {
					color: $tile-hover-text;
				}
				p {
					font-style: italic;
					color: $tile-hover-secondary;
				}

			}
		}
	}
}

/**
 * About Slide
 */
.about-slide {
	display:none;
	.profile-image-wrapper {
		padding-top: 20px;
		.profile-image {
			width: 112px;
			height: 112px;
			text-align: center;
			margin: 0 auto;
			-moz-border-radius: 56px;
			-webkit-border-radius: 56px;
			border-radius: 56px;
			background: $grey-light;
			overflow: hidden;
			img {
				width:112px;
			}
		}
	}
	.profile {
		padding: 25px 15px;
	}
}

/**
 * Contact Slide
 */
.contact-slide {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: $background-social;
	color: $social-text;
	h2 {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0;
	}
	p {
		color: $social-p;
	}
	.social-icons {
		padding-top: 15px;
		.fa {
			font-size: 3rem;
			padding: 1.5rem;
		}
	}
}

/**
 * Footer
 */
footer {
	padding: 10px 0;
	background: $nav-background;
	color:$text-secondary;
	font-size: .75rem;
	text-align: center;
	p{
		margin:0;
	}
}

/**
 * Modal Windows
 */
.modal .modal-content {
	background: $peach-light;
	.tag {
		text-align: center;
		font-style: italic;
		font-size: .75rem;
		padding: 3px;
		margin: .25rem .5rem;
		background: lighten($peach, 5%);
		color: $green;
	}
	.project-image img {
		width: 100%;
	}
	.project-description {
		margin-bottom: 1rem;
	}
}

/**
 * Responsive Breakpoints
 */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.navbar {
		background: none;
		.navbar-collapse {
			max-width: 55vw;
			.nav-link {
				padding: 0 5vw;
			}
		}
	}
	footer {
		text-align: left;
		.credit {
			text-align: right;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.navbar .navbar-collapse {
		max-width: 47vw;
	}
}

// Extra large devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
	.navbar .navbar-collapse {
		max-width: 40vw;
	}
}
